.Сollider {
  background: rgba(39, 39, 42, 1);
  border: 1px solid #414144;
  width: 100%;
  height: 100%;
}
.topСollider {
  height: 44px;
  background: rgba(47, 47, 52, 0.715);
  border-bottom: 1px solid #414144;
}
.NameGroupsCollider {
  width: 312px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;

  border-right: 1px solid #414144;
}
.titleСollider.Box {
  padding: 0 9px 0 10px;
}
.level_edit {
  margin-left: 9px;
  display: inline-flex;
  justify-content: flex-start;
  padding: 3px 6px;
  gap: 6px;

  height: 28px;
  background: #414144;
  border-radius: 6px;
  align-items: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table tr {
  min-height: 60px;
  border: 1px solid #414144;
  border-top: none;
  border-left: none;
  border-right: none;
}
table td th {
  vertical-align: middle;
}

table td {
  height: 18px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  color: #ffffff;
}
th {
  text-align: left;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  letter-spacing: 0.1px;
  color: #a1a1aa;
}

.Level {
  margin-left: 11px;
  width: max-content;
}
.Level_1 {
  width: 110px;
}
.tableText {
  margin-left: 8px;
}
.EditIconLevel_2 {
  padding-left: 35px;
}
