.Сollider {
  background: rgba(39, 39, 42, 1);
  border: 1px solid #414144;
  width: 100%;
  height: 100%;
}
.topСollider {
  height: 44px;
  background: rgba(47, 47, 52, 0.715);
  border-bottom: 1px solid #414144;
}
.NameGroupsCollider {
  width: 312px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #ffffff;

  border-right: 1px solid #414144;
}

.table {
  width: 100%;
}

.titleСollider.Box {
  /* padding: 0 9px 12px 10px; */
}

th {
  max-width: 200px;

  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;

  letter-spacing: 0.1px;

  color: #a1a1aa;
}
.Level {
}

.Name-of-works {
}

.Main-sp {
  /* margin-left: auto; */
}

.Equipment {
}

.Overhead-costs {
}

.Estimated-profit {
}
.level_edit {
  margin-left: 9px;
  display: flex;
  justify-content: space-between;
  padding: 3px 7px;
  gap: 7px;
  max-width: 107px;
  height: 28px;
  background: #414144;
  border-radius: 6px;
  align-items: center;
}
.level1_edit {
}
.level1_edit {
}
table td {
  height: 42px;
  vertical-align: top;
}
table {
  border-collapse: collapse;
}

table tr {
  min-height: 60px;
  border: 1px solid #414144;
  border-top: none;
  border-left: none;
  border-right: none;
}

table td {
  height: 18px;
  align-items: center;

  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  /* or 18px */

  letter-spacing: 0.1px;

  color: #ffffff;
}
